<!doctype html>
<html>
<head>
    <title>공간정보플랫폼</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="./index.css" />

    <!-- 지도API -->
    <link rel="stylesheet" type="text/css" href="http://map.seoul.go.kr/smgis/apps/mapsvr.do?cmd=gisMapCss">
    <script type="text/javascript" src="http://map.seoul.go.kr/smgis/apps/mapsvr.do?cmd=gisMapJs&key=523b6473492149d38c087b5d7e7531f9"></script>
    <script type="text/javascript" src="./js/ejs.min.js"></script>

    <script type="text/javascript">
        let	map = null;
        let markers = null;
        let stagedMarker = null;
        const customOptions = {
            "offset": [0, -10]
        };

        const init = function(){
            fetch('./map_markers.json', {mode: "cors"}).then((response) => response.json()).then((data) => setMarkers(data));

        };// end init

        const setMarkers = async function(data) {
            if (data.length < 1) return;
            if (map) delete map;
            map = L.map('map_', {
                continuousWorld: true
                ,worldCopyJump: false
                ,zoomControl: false
                ,zoomAnimation: true
                ,fadeAnimation : true
                ,inertia : false
                ,closePopupOnClick : false
                ,attributionControl : false //- 로고
            });
            map.on('click', async (e) => {
                createMarker(e.latlng.lat, e.latlng.lng)
            })
            markers = data;
            const firstEntry = data[0];
            map.setView([firstEntry.lat, firstEntry.lng], 10);
            BaseMapChange(map, L.Dawul.BASEMAP_GEN);

            const scaleBar = new L.Control.Scale({position:'bottomright'});
            map.addControl(scaleBar);

            // 레벨바
            const slider = new L.Control.Zoomslider({position:'topright'});
            map.addControl(slider);

            for (const idx in data) {
                const entry = data[idx];
                const marker = new L.Marker(new L.LatLng(entry.lat, entry.lng), {icon:new L.Icon({iconUrl:'./marker-icon-2x.png',iconSize:new L.Point(20,30)})}).addTo(map);
                const popupContent = ejs.render("<h4><%= entry.id %> - <%= entry.title %></h4><% if (entry.warnings) { %><h4>주의사항</h4><ul><% for (const warning of entry.warnings) { %> <li><%= warning %> <% } %></li></ul><% } %>", {entry: entry});
                marker.bindPopup(popupContent, customOptions);
            }
        }

        const createMarker = async function(lat, lng) {
            const marker = new L.Marker(new L.LatLng(lat, lng), {icon:new L.Icon({iconUrl:'./marker-icon-2x.png',iconSize:new L.Point(20,30)})}).addTo(map);
            const popupContent = ejs.render(
                `
                    <h4>생성</h4>
                    <form name="markerForm" onsubmit="saveMarker(); return false;" onreset="removeMarker()">
                        <input type="text" name="lat" value="${lat}"/>
                        <input type="text" name="lng" value="${lng}"/>
                        <input type="text" name="title"/>
                        <input type="text" name="id"/>
                        <textarea name="warnings"></textarea>
                        <button type="reset">취소</button>
                        <button type="submit">확인</button>
                    </form>
                `,
            {})
            stagedMarker = marker
            marker.bindPopup(popupContent, customOptions)
            marker.openPopup()
        }

        const removeMarker = async function() {
            stagedMarker.closePopup()
            map.removeLayer(stagedMarker)
        }

        const saveMarker = async function() {
            const data = document.markerForm
            let warnings = null
            if (data.warnings.value) {
                warnings = data.warnings.value.split('\n')
            }
            const entry = {
                lat: data.lat.value,
                lng: data.lng.value,
                id: data.id.value,
                title: data.title.value,
                warnings: warnings
            }
            markers.push(
                entry
            )
            map.removeLayer(stagedMarker)
            stagedMarker.closePopup()
            const popupContent = ejs.render("<h4><%= entry.id %> - <%= entry.title %></h4><% if (entry.warnings) { %><h4>주의사항</h4><ul><% for (const warning of entry.warnings) { %> <li><%= warning %> <% } %></li></ul><% } %>", {entry: entry});
            stagedMarker.bindPopup(popupContent, customOptions)
            stagedMarker.addTo(map)
        }

        const exportData = () => {
            console.log(JSON.stringify(markers))
        }
    </script>
<body onload="init()">
    <div id="top">
        <button onclick="exportData()">출력</button>
    </div>
    <div id="map_"></div>
</body>
</html>