html, body {width: 100%; height: 100%; margin:0px}

#map_ {
	height: calc(100%);
	width: calc(100%);
}

#poi-list {
	margin-top: 48px;
	width: 300px;
	overflow: scroll;
}

#close-btn {
	margin: 12px;
}

#sidebar, #poi-list, #close-btn-wrapper {
	transition: width cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s;
	z-index: 10000;
}

.collapsed {
	width: 0px !important;
}

.leaflet-popup-close-button {
	width: 24px !important;
	height: 24px !important;
}

.leaflet-marker-icon {
	margin-top: -36px !important;
	margin-left: -36px !important;
}

#open-btn-wrapper {
	width: 96px;
	z-index: 9999;
}

#open-btn {
	margin: 24px;
	height: 48px;
	width: 48px;
}


ul {
	margin-left: 0px;
	padding-left: 1rem;
}